<p id="notice"><%= notice %></p>

<h1>Listing Allowed Inputs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Input type</th>
      <th>Alias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allowed_inputs.each do |allowed_input| %>
      <tr>
        <td><%= allowed_input.name %></td>
        <td><%= allowed_input.input_type %></td>
        <td><%= allowed_input.alias %></td>
        <td><%= link_to 'Show', allowed_input %></td>
        <td><%= link_to 'Edit', edit_allowed_input_path(allowed_input) %></td>
        <td><%= link_to 'Destroy', allowed_input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allowed input', new_allowed_input_path %>
