<h1>Listing Queries</h1>

<br>

<%= link_to 'New Query', new_query_path %>

<br>
<br>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Dimensions</th>
      <th>Metrics</th>
      <th>SQL</th>
      <th colspan="3"></th>
    </tr>
  
    <% @queries.each do |query| %>
      <tr>
        <td>
          <ul>
            <% if query.get_dimensions
                 query.get_dimensions.each do |dim| %>
                   <li><%= dim %></li>
            <%   end
               end %>
          </ul>
        </td>
        <td>
          <ul>
            <% if query.get_metrics
                 query.get_metrics.each do |metric| %>
                   <li><%= metric %></li>
            <%   end
               end %>
          </ul>
        </td>
        <td><%= simple_format(query.build_query) %></td>
        <td><%= link_to 'Show', query %></td>
        <td><%= link_to 'Edit', edit_query_path(query) %></td>
        <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

