<p id="notice"><%= notice %></p>

<p>
  <strong>Dimensions:</strong>
  <%= @query.dimensions %>
</p>

<p>
  <strong>Metrics:</strong>
  <%= @query.metrics %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @query.conditions %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
