<p id="notice"><%= notice %></p>

<p>
  <strong>Selected dimensions:</strong>
  <ul>
    <% @query.get_dimensions.each do |dim| %>
      <li><%= dim %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Selected metrics:</strong>
  <ul>
    <% @query.get_metrics.each do |metric| %>
      <li><%= metric %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Generated sql:</strong>
  <%= simple_format(@generated_sql) %>
</p>


<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
