<p>
  <strong>Selected dimensions:</strong>
  <% if @query.get_dimensions %>
    <ul>
      <% @query.get_dimensions.each do |dim| %>
        <li><%= dim %></li>
      <% end %>
    </ul>
  <% else %>
    <p> No dimension. </p>
  <% end %>
</p>

<p>
  <strong>Selected metrics:</strong>
  <% if @query.get_metrics %>
    <ul>
      <% @query.get_metrics.each do |metric| %>
        <li><%= metric %></li>
      <% end %>
    </ul>
  <% else %>
    <p> No metric. </p>
  <% end %>
</p>

<p>
  <strong>Generated sql:</strong>
  <%= simple_format(@generated_sql) %>
</p>


<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
